@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/ptsans/PTSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsans/PTSansBold.woff2') format('woff2'),
        url('../fonts/ptsans/PTSansBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/staatliches/staatliches-regular-webfont.woff2') format('woff2'),
        url('../fonts/staatliches/staatliches-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Tourney';
    src: url('../fonts/tourney/tourney-semibold-webfont.woff2') format('woff2'),
        url('../fonts/tourney/tourney-semibold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Francois One';
    src: url('../fonts/francois/francoisone-webfont.woff2') format('woff2'),
        url('../fonts/francois/francoisone-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
        url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    font-family: 'PT Sans', 'Staatliches', 'Francois One', 'Tourney', 'Roboto', 'Arial', 'Helvetica', sans-serif;
    line-height: 1;
    box-sizing: border-box;
}

.first-page,
.second-page {
    margin: 6px 10px 0;
}

header {
    position: fixed;
    top: 0px;
    right: 10px;
    left: 10px;
    min-height: 80px;
    z-index: 100;
    background-color: #ffffff;
}

.company-logo {
    width: 119px;
    height: 25px;
}

.first-page {
    background-image: url('../img/bg-picture.svg');
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 300px;
}

header,
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bread-cramps {
    list-style: none;
    display: flex;
    align-items: center;
}

.with-divider::before {
    content: '/';
    margin-right: 2px;
}

.bread-cramps a {
    margin-right: 2px;
}

a {
    text-decoration: none;
    color: black;
}

.language {
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    margin-right: 10px;
}

.bread-cramps {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

main {
    position: absolute;
    top: 80px;
    right: 10px;
    left: 10px;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.list-of-content li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
}

h2 {
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3px;
    margin-bottom: 20px;
}

.title-second-page {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: none;
}

p {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}

.text-list {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
}

.bold-list {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.bg-fon {
    background-color: #DADADA;
}

.icon {
    width: 40px;
    height: 4px;
    margin-bottom: 10px;
}

.icon-who {
    width: 40px;
    height: 4px;
    align-self: center;
    margin-right: 10px;
}

.name-of-content {
    display: flex;
    align-items: flex-start;
    margin-right: 5px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
}

.flip-box {
    background-color: transparent;
    width: 270px;
    height: 180px;
    border: 1px transparent;
    border-radius: 8px;
    overflow: hidden;
    perspective: 1000px;
    margin: 15px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-box-front {
    background-color: #bbb;
}

.flip-box-back {
    background-color: #000;
    transform: rotateX(180deg);
}



@media only screen and (min-width: 930px) {

    .first-page,
    .second-page {
        margin: 16px 120px 0;
    }

    header {
        right: 120px;
        left: 120px;
    }

    .company-logo {
        width: 238px;
        height: 50px;
    }

    .first-page {
        background-size: 360px;
    }

    main {
        top: 150px;
        right: 120px;
        left: 120px;
    }

    .sections {
        padding: 0 15px;
        margin-left: 415px;
    }

    aside {
        position: sticky;
        top: 170px;
        display: block;
        float: left;
    }

    .bread-cramps a {
        margin-right: 5px;
    }

    .with-divider::before {
        margin-right: 5px;
    }

    .language {
        font-weight: 600;
        font-size: 22px;
        line-height: 18px;
        margin-right: 50px;
    }

    .bread-cramps {
        font-size: 22px;
        line-height: 28px;
    }

    .list-of-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .list-of-content li {
        align-items: flex-start;
        margin-bottom: 70px;
        font-size: 36px;
        line-height: 48px;
    }

    h2 {
        font-size: 36px;
        line-height: 48px;
    }

    .title {
        gap: 10px;
        margin-bottom: 40px;
    }

    .title-second-page {
        font-size: 36px;
        line-height: 48px;
    }

    p {
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 40px;
    }

    .text-list {
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 40px;
    }

    .bold-list {
        font-size: 28px;
        line-height: 48px;
    }

    .icon {
        width: 100px;
        height: 8px;
        margin-bottom: 20px;
    }

    .icon-who {
        width: 100px;
        height: 8px;
        margin-right: 20px;
    }

    .name-of-content {
        margin-bottom: 60px;
    }

    .flip-box {
        width: 270px;
        height: 180px;
        margin: 15px;
    }
}